@use 'src/scss/utils/vars' as *;

.dashboard {
	padding: var(--sp-5);
	max-width: var(--container);
	margin: 0 auto;
	display: grid;
	gap: var(--sp-5);
}

.dashboard__header {
	display: grid;
	gap: var(--sp-3);
}

.dashboard__title {
	font-family: var(--ff-base);
	color: var(--c-text-primary);
	letter-spacing: var(--letter-spacing);
	font-size: calc(var(--fs) * 1.6);
}

.dashboard__nav {
	display: flex;
	gap: var(--sp-2);
	flex-wrap: wrap;

	.is-active {
		filter: brightness(0.98);
	}
}

.dashboard__content {
	display: grid;
	gap: var(--sp-4);
}
